<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tacolicious</title>
    <!-- <link rel="stylesheet" href="/styles.css">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
     <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  </head>
<body>

  <div class="container">

    <h4> Thank you for your order! </h4>

    <ul class="order">
      <li>{{name}}</li>
      <li>{{number}}</li>
      <li>{{sauce}}</li>
    </ul>
  </div>


  <div class="pushmore">
    {{>footer}}
  </div>

</body>
</html>
