body {
  background-color: gray;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 120%;
}
h1 {
  font-size: 550%;
}
.order {
  color: black;
  font-size: 150%;
}

.footer {
  width: 100%;
  background-color: black;
  height: 8rem;
  padding-top: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
}
.footer a {
  color: white;
  font-size: 2rem;
}

.push {
  margin-top: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
}

.pushmore {
  margin-top:30%;
  margin-bottom: 0;
  padding-bottom: 0;
}
li {
  list-style:none;
}
